@font-face {
    src: url("./assets/fonts/LexendDeca-Regular.ttf") format("truetype");
    font-family: "LexendDeca-Regular";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url("./assets/fonts/LexendDeca-Bold.ttf") format("truetype");
    font-family: "LexendDeca-Bold";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url("./assets/fonts/LexendDeca-ExtraBold.ttf") format("truetype");
    font-family: "LexendDeca-ExtraBold";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url("./assets/fonts/LexendDeca-ExtraLight.ttf") format("truetype");
    font-family: "LexendDeca-ExtraLight";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url("./assets/fonts/LexendDeca-Light.ttf") format("truetype");
    font-family: "LexendDeca-Ligh";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url("./assets/fonts/LexendDeca-SemiBold.ttf") format("truetype");
    font-family: "LexendDeca-SemiBold";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url("./assets/fonts/LexendDeca-Thin.ttf") format("truetype");
    font-family: "LexendDeca-Thin";
    font-weight: 400;
    font-style: normal;
}

/* In your CSS file (e.g., styles.css) */
.gradient-text {
    @apply bg-gradient-to-r from-purple-400 via-white to-Card_Button bg-clip-text text-transparent leading-[1.2] md:py-2;
    /* Adjust leading as needed */
}

.gradient-text2 {
    @apply bg-gradient-to-br from-[#ffffff] to-Card_Button bg-clip-text text-transparent;
}


.gradient-btn {
    @apply bg-gradient-to-r from-purple-400 to-Card_Button;
}

.btn-5 {
    border: 1px solid;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
    border: 0px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #040607;
}